#NewsMenu {
    /*background: beige;*/
    padding: 20px;
}

#NewsMenu a {
    text-decoration: none;
}

#NewsMenu a:hover {
    background: cornflowerblue;
    color: azure;
}

#RegisteredUsers a {
    text-decoration: none;
}

footer {
    /*background: beige;*/
    padding: 20px;
}

img {
    height: 30%;
}