
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About us</title>
</head>
<body class="text-left">
    <h1>We are</h1><br /><br />
    <h4>The news makers:</h4>
    <p>Horns and Hooves company</p><br />
    <h4>Find us:</h4>
    <p>Kyiv, M. Grinchenka, 2/1</p><br />
    <h4>Phone us:</h4>
    <p>(044) 111-22-33</p>
    <p>(096) 444-55-66</p><br />
</body>
</html>
