
@{
    Layout = @"..\Shared\_Layout.cshtml";
    ViewBag.Title = "About us";
    ViewBag.ViewTitle = "We are";
}

<div class="text-left">
    <br /><br />
    <h4>The news makers:</h4>
    <p>Horns and Hooves company</p><br />
    <h4>Find us:</h4>
    <p>Kyiv, M. Grinchenka, 2/1</p><br />
    <h4>Phone us:</h4>
    <p>(044) 111-22-33</p>
    <p>(096) 444-55-66</p><br />
</div>
